h1,
p {
  text-align: center;
  color: blueviolet;
  background-color: rgb(232, 203, 208);
}
.photo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 70%;
}
.contact {
  text-align: center;
}
.links {
  color: blueviolet;
  
}
