h1,
p {
  text-align: center;
  color: blueviolet;
  background-color: rgb(232, 203, 208);
}
.photo {
  display: block;
  margin: 0 auto;
}
.contact {
  text-align: center;
}
.links {
    color: brown;
}
